# Pre-Processing and Training Data

## Imports

In [1]:
import pandas as pd
import numpy as np

## Load data

In [2]:
data = pd.read_csv('../listings_cleaned_updated.csv')
data.sample(5).T

,2833,1166,6853,622,102
id,19456827,9171142,41342626,4341539,604169
description,True,True,True,True,True
neighborhood_overview,True,True,False,True,True
host_id,135271319,26954520,324723473,8336938,2990799
host_location,"San Diego, California, United States","San Diego, California, United States","San Diego, California, United States","San Diego, California, United States","San Diego, California, United States"
host_about,True,True,False,True,True
host_response_time,within an hour,within an hour,within an hour,within an hour,within an hour
host_response_rate,100%,100%,100%,100%,100%
host_acceptance_rate,100%,100%,80%,93%,96%
host_is_superhost,True,False,False,True,True
host_neighbourhood,Pacific Beach,La Jolla,NaN,Mission Beach,La Playa
host_listings_count,26.0,3.0,1.0,37.0,9.0
host_has_profile_pic,True,True,True,True,True
host_identity_verified,True,True,True,True,True
neighbourhood,Pacific Beach,La Jolla,Pacific Beach,Ocean Beach,Midtown District
latitude,32.7982,32.85511,32.79891,32.74391,32.71937
longitude,-117.25643,-117.24727,-117.23463,-117.25194,-117.22115
property_type,hostel,townhouse,tiny house,condominium,boat
room_type,Shared room,Private room,Entire home/apt,Entire home/apt,Entire home/apt
accommodates,1,2,2,6,5
bathrooms_text,3 shared baths,1 private bath,1 bath,1 bath,1 bath
bedrooms,1.0,1.0,1.0,2.0,2.0
beds,1.0,1.0,1.0,4.0,1.0
amenities,"['Hot water', 'Stove', 'Beach essentials', 'Sm...","['Hot water', 'Beach essentials', 'Smoke alarm...","['Hot water', 'Stove', 'Smoke alarm', 'Refrige...","['Hot water', 'High chair', 'Stove', 'Beach es...","['Hot water', 'Stove', 'Smoke alarm', 'Refrige..."
price,40.0,104.0,198.0,129.0,242.0
minimum_nights,1,1,2,7,2
maximum_nights,21,1125,5,180,30
review_scores_rating,96.0,93.0,93.0,95.0,94.0
instant_bookable,True,True,False,True,False
reviews_per_month,0.12,4.23,0.33,0.97,0.33
host_in_SD,True,True,False,False,False

In [3]:
data.shape

(9274, 31)

In [4]:
# remebered what we discovered in EDA notebook
# drop columns that has been replaced/substituted
drop_cols = ['host_location','host_neighbourhood']
data.drop(columns=drop_cols, inplace=True)

In [5]:
data.sample(3).T

,4252,5638,4649
id,26865491,35578022,29649973
description,True,True,True
neighborhood_overview,True,True,False
host_id,147988535,53631296,223166063
host_about,True,True,False
host_response_time,within an hour,within an hour,NaN
host_response_rate,100%,100%,NaN
host_acceptance_rate,100%,98%,0%
host_is_superhost,False,True,False
host_listings_count,1.0,8.0,1.0
host_has_profile_pic,True,True,False
host_identity_verified,False,True,True
neighbourhood,Pacific Beach,Loma Portal,University City
latitude,32.79656,32.74162,32.85478
longitude,-117.25743,-117.23195,-117.20442
property_type,condominium,townhouse,apartment
room_type,Entire home/apt,Entire home/apt,Private room
accommodates,5,8,2
bathrooms_text,2 baths,1 bath,1 shared bath
bedrooms,2.0,3.0,1.0
beds,3.0,4.0,1.0
amenities,"['Hot water', 'Stove', 'Body soap', 'Beach ess...","['Hot water', 'Stove', 'Smoke alarm', 'Refrige...","['Fire extinguisher', 'Pool', 'Lock on bedroom..."
price,332.0,265.0,90.0
minimum_nights,3,2,1
maximum_nights,1125,31,7
review_scores_rating,80.0,97.0,NaN
instant_bookable,True,True,True
reviews_per_month,1.33,2.64,NaN
host_in_SD,True,False,True

## Missing values

In [6]:
#Count the number of missing values in each column as well as the percentages
missing = pd.concat([data.isnull().sum(), 100 * data.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing = missing[missing['%']!=0]
missing.sort_values(by='%', ascending =False)

                      count          %
review_scores_rating   1459  15.732154
reviews_per_month      1416  15.268493
host_response_time     1128  12.163036
host_response_rate     1128  12.163036
bedrooms                985  10.621091
host_acceptance_rate    617   6.653008
beds                     39   0.420531
bathrooms_text            6   0.064697

In [7]:
#find rows where review_scores_rating is missing but reviews_per_month is not missing
data[(data['review_scores_rating'].isnull()==True) 
     & (data['reviews_per_month'].isnull()==False)].head()

,id,description,neighborhood_overview,host_id,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,review_scores_rating,instant_bookable,reviews_per_month,host_in_SD
140,847669,True,False,4425833,True,NaN,NaN,NaN,False,1.0,...,1.0,1.0,"['Wifi', 'Dryer', 'Breakfast', 'Heating', 'Kit...",74.0,1,21,NaN,False,0.03,True
704,5136416,True,False,4506228,False,NaN,NaN,NaN,False,1.0,...,2.0,2.0,"['Fire extinguisher', 'Essentials', 'Indoor fi...",400.0,3,365,NaN,True,0.03,False
1237,9627161,True,True,2503251,True,within an hour,97%,94%,False,17.0,...,1.0,2.0,"['Hot water', 'High chair', 'Stove', 'Beach es...",22.0,1,1125,NaN,False,0.04,False
1562,12588363,True,False,68280440,True,NaN,NaN,NaN,False,1.0,...,1.0,1.0,"['Hot tub', 'Wifi', 'Dryer', 'Heating', 'Free ...",150.0,1,1125,NaN,False,0.03,False
1700,13332007,True,True,75452099,True,NaN,NaN,NaN,False,1.0,...,1.0,1.0,"['First aid kit', 'Hangers', 'Dryer', 'TV', 'H...",226.0,2,30,NaN,False,0.02,False

It seems like the explaination of why these values are missing is either these listings has no reviews at all or no reviews recently. It might be safe to to fill these missing values with 0

In [8]:
data.fillna(value={'review_scores_rating':0,'reviews_per_month':0},inplace=True)

In [9]:
#similarly, zero(0) seems to be a reasonable fill-in for other columns as well
values = {"host_response_rate":0,'bedrooms':0,
          'host_acceptance_rate':0,"beds":0}
data.fillna(value=values, inplace=True)

In [10]:
#replace missing data in host_response_time as missing
#these columns will be catergorized later
data.fillna(value={"host_response_time":0}, inplace=True)

In [11]:
#there are only 6 rows that doesnt have bath_text value.
#It shouldn't affect the performance too much by dropping them
data.dropna(subset=['bathrooms_text'],inplace=True)

In [12]:
#Check to see if there is any more missing data
missing = pd.concat([data.isnull().sum(), 100 * data.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing = missing[missing['%']!=0]
missing.sort_values(by='%', ascending =False)

Empty DataFrame
Columns: [count, %]
Index: []

## Columns dtypes

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9268 entries, 0 to 9273
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      9268 non-null   int64
 1   description             9268 non-null   bool
 2   neighborhood_overview   9268 non-null   bool
 3   host_id                 9268 non-null   int64
 4   host_about              9268 non-null   bool
 5   host_response_time      9268 non-null   object
 6   host_response_rate      9268 non-null   object
 7   host_acceptance_rate    9268 non-null   object
 8   host_is_superhost       9268 non-null   bool
 9   host_listings_count     9268 non-null   float64
 10  host_has_profile_pic    9268 non-null   bool
 11  host_identity_verified  9268 non-null   bool
 12  neighbourhood           9268 non-null   object
 13  latitude                9268 non-null   float64
 14  longitude               9268 non-null   float64
 15  property_type           9268 non-null   object
 16  room_type               9268 non-null   object
 17  accommodates            9268 non-null   int64
 18  bathrooms_text          9268 non-null   object
 19  bedrooms                9268 non-null   float64
 20  beds                    9268 non-null   float64
 21  amenities               9268 non-null   object
 22  price                   9268 non-null   float64
 23  minimum_nights          9268 non-null   int64
 24  maximum_nights          9268 non-null   int64
 25  review_scores_rating    9268 non-null   float64
 26  instant_bookable        9268 non-null   bool
 27  reviews_per_month       9268 non-null   float64
 28  host_in_SD              9268 non-null   bool
dtypes: bool(8), float64(8), int64(5), object(8)
memory usage: 1.6+ MB

In [14]:
#host_response_rate and host_acceptance_rate column dtypes is not correct
#because the percentage symbol
data[['host_response_rate','host_acceptance_rate']].head()

  host_response_rate host_acceptance_rate
0               100%                 100%
1               100%                  50%
2                  0                  86%
3               100%                  75%
4               100%                  96%

In [15]:
data['host_response_rate'] = data['host_response_rate'].str.replace(r'%',r'.0').astype('float')/100
data['host_acceptance_rate'] = data['host_acceptance_rate'].str.replace(r'%',r'.0').astype('float')/100

In [16]:
data[['host_response_rate','host_acceptance_rate']].dtypes

host_response_rate      float64
host_acceptance_rate    float64
dtype: object

## Categorical features

In [17]:
data.select_dtypes(include='object').columns

Index(['host_response_time', 'neighbourhood', 'property_type', 'room_type',
       'bathrooms_text', 'amenities'],
      dtype='object')

### Host_response_time

In [18]:
host_response_time = data['host_response_time']
host_response_time.unique()

array(['within a few hours', 'within an hour', 0, 'within a day',
       'a few days or more'], dtype=object)

In [19]:
host_response_time = pd.get_dummies(host_response_time, drop_first=True)
host_response_time.head()

   a few days or more  within a day  within a few hours  within an hour
0                   0             0                   1               0
1                   0             0                   0               1
2                   0             0                   0               0
3                   0             0                   0               1
4                   0             0                   0               1

In [20]:
data.drop(columns=['host_response_time'],inplace=True)

### Bathrooms_text

In [21]:
data['bathrooms_text'].unique()

array(['1 bath', '2 baths', '1 shared bath', '1 private bath',
       '2.5 baths', '1.5 baths', '3 baths', '4 baths', '3.5 baths',
       '2 shared baths', 'Shared half-bath', '3 shared baths',
       'Half-bath', '5.5 baths', '4.5 baths', '1.5 shared baths',
       '5 baths', '2.5 shared baths', '8 baths', '0 baths',
       '0 shared baths', '6.5 baths', '6 baths', '7 baths', '9 baths',
       '27.5 baths', '7.5 baths', '4.5 shared baths', '8 shared baths',
       '4 shared baths', '3.5 shared baths', '10 baths', '6 shared baths',
       '11 baths'], dtype=object)

Baths can be separate into (private, shared, unknown) and by the number (1, 1.5 , 2, ...)

In [22]:
#create bathrooms dataframe
import copy
bathrooms = pd.DataFrame(copy.deepcopy(data['bathrooms_text']))
bathrooms = bathrooms.rename({'bathrooms_text':"bath_count"},axis=1)
bathrooms = bathrooms.assign(bath_shared = np.nan)
bathrooms.head()

      bath_count  bath_shared
0         1 bath          NaN
1        2 baths          NaN
2  1 shared bath          NaN
3         1 bath          NaN
4         1 bath          NaN

In [23]:
bathrooms['bath_count'] = bathrooms['bath_count'].replace('Shared half-bath','0.5 shared bath')
bathrooms['bath_count'] = bathrooms['bath_count'].replace('Half-bath','0.5 bath')

In [24]:
#extract private/shared baths
for idx,val in enumerate(bathrooms.bath_count):
    if 'shared' in val:
        bathrooms.iloc[idx,1]=1
    else:
        bathrooms.iloc[idx,1]=0

In [25]:
#Extract number of bathrooms
bathrooms.bath_count = bathrooms.bath_count.str.replace('baths','')
bathrooms.bath_count = bathrooms.bath_count.str.replace('bath','')
bathrooms.bath_count = bathrooms.bath_count.str.replace('shared','')
bathrooms.bath_count = bathrooms.bath_count.str.replace('private','')
bathrooms.bath_count = bathrooms.bath_count.str.replace(" ", "")
bathrooms.bath_count = bathrooms.bath_count.astype('float')
bathrooms.sample(5)

      bath_count  bath_shared
6280         1.0          0.0
5794         1.0          0.0
2947         2.0          1.0
5597         1.0          1.0
6157         1.0          0.0

In [26]:
bathrooms.bath_count.unique()

array([ 1. ,  2. ,  2.5,  1.5,  3. ,  4. ,  3.5,  0.5,  5.5,  4.5,  5. ,
        8. ,  0. ,  6.5,  6. ,  7. ,  9. , 27.5,  7.5, 10. , 11. ])

In [27]:
data.drop(columns=['bathrooms_text'],inplace=True)

### Amenities

In [28]:
#remembering from data wrangling notebook, convert amenities from string to list
import ast
amenities = []
for i in data.amenities.index:
    amenities.insert(i, ast.literal_eval(data.amenities[i]))
data.amenities = amenities

In [29]:
#refer to EDA for reasoning for selected amenities
#create a list of all amenities options
amen_cols=[]
for elem in amenities:
    amen_cols.extend(elem)

In [30]:
#count different amenities
from collections import Counter
d = Counter(amen_cols)
amen_count = pd.DataFrame.from_dict(d, orient='index')

In [31]:
manual_amen = ['Essentials','Wifi','TV','Heating','Air conditioning','Iron',
                 'Shampoo','Hair dryer','Breakfast','Dedicated workspace',
                 'Indoor fireplace','Hangers','Clothing storage: closet',
                 'Clothing storage: closet and dresser','Clothing storage: dresser and closet',
                 'Private entrance','Smoke alarm','Carbon monoxide alarm','First aid kit',
                 'Fire extinguisher','Lock on bedroom door','Hot tub','Kitchen','Pool','Gym',
                 'Washer','Dryer','Free parking on premises','Free street parking','Long term stays allowed']

In [32]:
#selected amenities is a combination of most frequently occured amenities and selected amenities
amen_count = amen_count.reset_index()
amen_count = amen_count[amen_count[0]>1000]
amen_set = set(list(amen_count['index']) + manual_amen)
len(amen_set)

55

In [33]:
#create empty amenities dataframe with amenties as colum name and same index as listings
amenities = pd.DataFrame(index=data.index,columns = amen_set)
amenities.shape
#amenities = amenities.fillna(0)

(9268, 55)

In [63]:
#fill amenities dataframe with 1 for each ameniy that is available,0 otherwise
for idx, val in enumerate(data.amenities):
    for elem in val:
        if elem in amen_set:
            amenities.loc[idx,elem] = 1
            if idx>9267:
                print(idx)

In [65]:
amenities.shape

(9274, 55)

In [66]:
#checking the amenities dataframe
amenities.sample(10)

,Coffee maker,Washer,Private entrance,Bed linens,Luggage dropoff allowed,Clothing storage: closet and dresser,Oven,Free parking on premises,Wifi,TV,...,Dishes and silverware,Shower gel,Patio or balcony,Iron,First aid kit,Hot water,BBQ grill,Beach essentials,Indoor fireplace,Free street parking
3508,1,1,NaN,1,NaN,NaN,NaN,1,1,1,...,1,NaN,1,1,1,1,NaN,NaN,NaN,1
8771,1,1,1,NaN,NaN,NaN,NaN,1,1,1,...,1,1,NaN,1,1,1,NaN,NaN,NaN,1
4936,1,NaN,1,NaN,NaN,NaN,1,1,1,1,...,1,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN
6187,1,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN,1
1276,1,1,1,NaN,NaN,NaN,NaN,1,1,1,...,1,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN
6605,NaN,1,1,NaN,NaN,NaN,NaN,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
709,1,1,NaN,NaN,NaN,NaN,1,1,1,1,...,1,NaN,1,1,NaN,1,NaN,NaN,NaN,1
6858,1,1,NaN,1,NaN,NaN,1,1,1,1,...,1,1,1,1,NaN,1,1,NaN,1,NaN
2982,NaN,1,1,NaN,NaN,NaN,NaN,1,1,1,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
2042,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,1,1,...,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN,1

In [ ]:
data.drop(columns=['amenities'],inplace=True)

### Room_type

In [ ]:
data.room_type.unique()

In [ ]:
room = pd.get_dummies(data.room_type,drop_first=True)
room.head()

In [ ]:
data.drop(columns=['room_type'],inplace=True)

### Property_type

In [ ]:
data.property_type.unique()

In [ ]:
property_type = pd.get_dummies(data.property_type)
property_type.head()

In [ ]:
data.drop(columns=['property_type'],inplace=True)

### Neighbourhood

In [ ]:
data.neighbourhood.unique()

In [ ]:
neighbourhood = pd.get_dummies(data.neighbourhood)
neighbourhood.head()

In [ ]:
data.drop(columns=['neighbourhood'],inplace=True)

## Bolean features

In [ ]:
data.select_dtypes(include='bool').info()

In [ ]:
#Convert boolean to numeric
cols = ['description', 'neighborhood_overview', 'host_about',
       'host_is_superhost', 'host_has_profile_pic', 'host_identity_verified',
       'instant_bookable', 'host_in_SD']
for col in cols:
    data[col] = data[col].astype(int)

In [ ]:
data.info()

## Numerical features

In [ ]:
data.select_dtypes(exclude='object').info()

In [ ]:
#drop host_id and id because they are unlikely to have an impact on pricing
data.drop(columns=['host_id','id'],inplace=True)

In [ ]:
#Count the number of missing values in each column as well as the percentages
missing = pd.concat([data.isnull().sum(), 100 * data.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing = missing[missing['%']!=0]
missing.sort_values(by='%', ascending =False)

In [ ]:
# fill missing data with 0
data.fillna(value={'host_response_rate':0,'host_acceptance_rate':0},inplace=True)

In [ ]:
#Count the number of missing values in each column as well as the percentages
missing = pd.concat([data.isnull().sum(), 100 * data.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing = missing[missing['%']!=0]
missing.sort_values(by='%', ascending =False)

In [ ]:
data.columns

### Prepare DataFrame

In [ ]:
df = copy.deepcopy(data)

In [ ]:
len(df)

In [ ]:
len(host_response_time)

In [ ]:
len(bathrooms)

In [ ]:
len(amenities)

In [ ]:
len(room)

In [ ]:
len(property_type)

In [ ]:
len(neighbourhood)

In [ ]:
df = pd.concat([df,host_response_time, bathrooms, amenities,
               room, property_type,neighbourhood],axis=1)

## Train/test split

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns='price'), 
                                                    df.price, test_size=0.3, 
                                                    random_state=123)

In [ ]:
X_train.shape, X_test.shape

In [ ]:
X_train.dtypes

In [ ]:
X_test.dtypes

### Imputing missing feature values

In [ ]:
#Count the number of missing values in each column as well as the percentages
missing1 = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)
missing1.columns=["count", "%"]
missing1 = missing1[missing1['%']!=0]
missing1.sort_values(by='%', ascending =False)