# Pre-Processing and Training Data

## Imports

In [1]:
import pandas as pd
import numpy as np

## Load data

In [2]:
data = pd.read_csv('../listings_cleaned_updated.csv')
data.sample(5).T

,4876,3673,3379,4094,9081
id,31435669,23537032,22012979,26037922,47202818
description,True,True,True,True,True
neighborhood_overview,True,True,True,False,True
host_id,43302103,100605868,35004952,78096885,381232883
host_location,"San Diego, California, United States","Arlington, Texas, United States","San Diego, California, United States",US,"Chula Vista, California, United States"
host_about,True,True,True,False,False
host_response_time,within a day,within an hour,within an hour,within an hour,within an hour
host_response_rate,100%,100%,90%,100%,100%
host_acceptance_rate,58%,71%,87%,88%,100%
host_is_superhost,False,False,False,True,False
host_neighbourhood,Talmadge,Central City,Point Loma Heights,North Park,NaN
host_listings_count,2.0,496.0,5.0,1.0,0.0
host_has_profile_pic,True,True,True,True,True
host_identity_verified,False,True,True,False,True
neighbourhood,Talmadge,West University Heights,Loma Portal,North Hills,College Area
latitude,32.75725,32.76082,32.74942,32.74396,32.77453
longitude,-117.0876,-117.16024,-117.2325,-117.13834,-117.0369
property_type,earth house,serviced apartment,bungalow,house,apartment
room_type,Private room,Entire home/apt,Entire home/apt,Entire home/apt,Entire home/apt
accommodates,2,6,3,8,4
bathrooms_text,1 shared bath,2 baths,1 bath,3 baths,1 bath
bedrooms,1.0,2.0,NaN,3.0,1.0
beds,2.0,3.0,2.0,5.0,1.0
amenities,"['Hot water', 'Lock on bedroom door', 'Smoke a...","['Hot water', 'Smoke alarm', 'Kitchen', 'First...","['Hot water', 'Smoke alarm', 'Refrigerator', '...","['Hot water', 'High chair', 'Stove', 'Changing...","['Hot water', 'Keurig coffee machine', 'Stove'..."
price,37.0,212.0,73.0,239.0,88.0
minimum_nights,2,2,1,2,1
maximum_nights,8,120,27,21,14
review_scores_rating,93.0,NaN,93.0,98.0,100.0
instant_bookable,False,False,False,True,True
reviews_per_month,0.25,NaN,4.35,3.87,3.0
host_in_SD,True,False,False,False,False

In [3]:
data.shape

(9274, 31)

In [4]:
# remebered what we discovered in EDA notebook
# drop columns that has been replaced/substituted
drop_cols = ['host_location','host_neighbourhood']
data.drop(columns=drop_cols, inplace=True)

In [5]:
data.sample(3).T

,3697,4833,1518
id,23668633,31129256,12139639
description,True,True,True
neighborhood_overview,False,False,True
host_id,29990718,159751713,15312652
host_about,True,False,True
host_response_time,within an hour,within an hour,within an hour
host_response_rate,100%,100%,100%
host_acceptance_rate,99%,92%,100%
host_is_superhost,True,True,True
host_listings_count,16.0,1.0,5.0
host_has_profile_pic,True,True,True
host_identity_verified,True,True,True
neighbourhood,Cortez Hill,Mission Bay,Loma Portal
latitude,32.72188,32.78717,32.75072
longitude,-117.15651,-117.23608,-117.24233
property_type,apartment,house,apartment
room_type,Entire home/apt,Entire home/apt,Entire home/apt
accommodates,2,3,4
bathrooms_text,1 bath,1 bath,1 bath
bedrooms,1.0,1.0,2.0
beds,1.0,2.0,2.0
amenities,"['Hot water', 'Stove', 'Body soap', 'Beach ess...","['Hot water', 'Stove', 'Smoke alarm', 'Refrige...","['Hot water', 'Stove', 'Beach essentials', 'Sm..."
price,135.0,152.0,73.0
minimum_nights,3,2,4
maximum_nights,27,1125,10
review_scores_rating,98.0,99.0,95.0
instant_bookable,False,True,False
reviews_per_month,2.91,4.24,6.5
host_in_SD,False,True,True

## Missing values

In [6]:
#Count the number of missing values in each column as well as the percentages
missing = pd.concat([data.isnull().sum(), 100 * data.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing = missing[missing['%']!=0]
missing.sort_values(by='%', ascending =False)

                      count          %
review_scores_rating   1459  15.732154
reviews_per_month      1416  15.268493
host_response_time     1128  12.163036
host_response_rate     1128  12.163036
bedrooms                985  10.621091
host_acceptance_rate    617   6.653008
beds                     39   0.420531
bathrooms_text            6   0.064697

In [7]:
#find rows where review_scores_rating is missing but reviews_per_month is not missing
data[(data['review_scores_rating'].isnull()==True) 
     & (data['reviews_per_month'].isnull()==False)].head()

,id,description,neighborhood_overview,host_id,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,review_scores_rating,instant_bookable,reviews_per_month,host_in_SD
140,847669,True,False,4425833,True,NaN,NaN,NaN,False,1.0,...,1.0,1.0,"['Wifi', 'Dryer', 'Breakfast', 'Heating', 'Kit...",74.0,1,21,NaN,False,0.03,True
704,5136416,True,False,4506228,False,NaN,NaN,NaN,False,1.0,...,2.0,2.0,"['Fire extinguisher', 'Essentials', 'Indoor fi...",400.0,3,365,NaN,True,0.03,False
1237,9627161,True,True,2503251,True,within an hour,97%,94%,False,17.0,...,1.0,2.0,"['Hot water', 'High chair', 'Stove', 'Beach es...",22.0,1,1125,NaN,False,0.04,False
1562,12588363,True,False,68280440,True,NaN,NaN,NaN,False,1.0,...,1.0,1.0,"['Hot tub', 'Wifi', 'Dryer', 'Heating', 'Free ...",150.0,1,1125,NaN,False,0.03,False
1700,13332007,True,True,75452099,True,NaN,NaN,NaN,False,1.0,...,1.0,1.0,"['First aid kit', 'Hangers', 'Dryer', 'TV', 'H...",226.0,2,30,NaN,False,0.02,False

It seems like the explaination of why these values are missing is either these listings has no reviews at all or no reviews recently. It might be safe to to fill these missing values with 0

In [8]:
data.fillna(value={'review_scores_rating':0,'reviews_per_month':0},inplace=True)

In [9]:
#similarly, zero(0) seems to be a reasonable fill-in for other columns as well
values = {"host_response_rate":0,'bedrooms':0,
          'host_acceptance_rate':0,"beds":0}
data.fillna(value=values, inplace=True)

In [10]:
#replace missing data in host_response_time as missing
#these columns will be catergorized later
data.fillna(value={"host_response_time":0}, inplace=True)

In [11]:
#there are only 6 rows that doesnt have bath_text value.
#It shouldn't affect the performance too much by dropping them
data.dropna(subset=['bathrooms_text'],inplace=True)
data.reset_index(drop = True, inplace = True)

In [12]:
#Check to see if there is any more missing data
missing = pd.concat([data.isnull().sum(), 100 * data.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing = missing[missing['%']!=0]
missing.sort_values(by='%', ascending =False)

Empty DataFrame
Columns: [count, %]
Index: []

## Columns dtypes

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9268 entries, 0 to 9267
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      9268 non-null   int64
 1   description             9268 non-null   bool
 2   neighborhood_overview   9268 non-null   bool
 3   host_id                 9268 non-null   int64
 4   host_about              9268 non-null   bool
 5   host_response_time      9268 non-null   object
 6   host_response_rate      9268 non-null   object
 7   host_acceptance_rate    9268 non-null   object
 8   host_is_superhost       9268 non-null   bool
 9   host_listings_count     9268 non-null   float64
 10  host_has_profile_pic    9268 non-null   bool
 11  host_identity_verified  9268 non-null   bool
 12  neighbourhood           9268 non-null   object
 13  latitude                9268 non-null   float64
 14  longitude               9268 non-null   float64
 15  property_type           9268 non-null   object
 16  room_type               9268 non-null   object
 17  accommodates            9268 non-null   int64
 18  bathrooms_text          9268 non-null   object
 19  bedrooms                9268 non-null   float64
 20  beds                    9268 non-null   float64
 21  amenities               9268 non-null   object
 22  price                   9268 non-null   float64
 23  minimum_nights          9268 non-null   int64
 24  maximum_nights          9268 non-null   int64
 25  review_scores_rating    9268 non-null   float64
 26  instant_bookable        9268 non-null   bool
 27  reviews_per_month       9268 non-null   float64
 28  host_in_SD              9268 non-null   bool
dtypes: bool(8), float64(8), int64(5), object(8)
memory usage: 1.6+ MB

In [14]:
#host_response_rate and host_acceptance_rate column dtypes is not correct
#because the percentage symbol
data[['host_response_rate','host_acceptance_rate']].head()

  host_response_rate host_acceptance_rate
0               100%                 100%
1               100%                  50%
2                  0                  86%
3               100%                  75%
4               100%                  96%

In [15]:
data['host_response_rate'] = data['host_response_rate'].str.replace(r'%',r'.0').astype('float')/100
data['host_acceptance_rate'] = data['host_acceptance_rate'].str.replace(r'%',r'.0').astype('float')/100

In [16]:
data[['host_response_rate','host_acceptance_rate']].dtypes

host_response_rate      float64
host_acceptance_rate    float64
dtype: object

## Categorical features

In [17]:
data.select_dtypes(include='object').columns

Index(['host_response_time', 'neighbourhood', 'property_type', 'room_type',
       'bathrooms_text', 'amenities'],
      dtype='object')

### Host_response_time

In [18]:
host_response_time = data['host_response_time']
host_response_time.unique()

array(['within a few hours', 'within an hour', 0, 'within a day',
       'a few days or more'], dtype=object)

In [19]:
host_response_time = pd.get_dummies(host_response_time, drop_first=True)
host_response_time.head()

   a few days or more  within a day  within a few hours  within an hour
0                   0             0                   1               0
1                   0             0                   0               1
2                   0             0                   0               0
3                   0             0                   0               1
4                   0             0                   0               1

In [20]:
data.drop(columns=['host_response_time'],inplace=True)

### Bathrooms_text

In [21]:
data['bathrooms_text'].unique()

array(['1 bath', '2 baths', '1 shared bath', '1 private bath',
       '2.5 baths', '1.5 baths', '3 baths', '4 baths', '3.5 baths',
       '2 shared baths', 'Shared half-bath', '3 shared baths',
       'Half-bath', '5.5 baths', '4.5 baths', '1.5 shared baths',
       '5 baths', '2.5 shared baths', '8 baths', '0 baths',
       '0 shared baths', '6.5 baths', '6 baths', '7 baths', '9 baths',
       '27.5 baths', '7.5 baths', '4.5 shared baths', '8 shared baths',
       '4 shared baths', '3.5 shared baths', '10 baths', '6 shared baths',
       '11 baths'], dtype=object)

Baths can be separate into (private, shared, unknown) and by the number (1, 1.5 , 2, ...)

In [22]:
#create bathrooms dataframe
import copy
bathrooms = pd.DataFrame(copy.deepcopy(data['bathrooms_text']))
bathrooms = bathrooms.rename({'bathrooms_text':"bath_count"},axis=1)
bathrooms = bathrooms.assign(bath_shared = np.nan)
bathrooms.head()

      bath_count  bath_shared
0         1 bath          NaN
1        2 baths          NaN
2  1 shared bath          NaN
3         1 bath          NaN
4         1 bath          NaN

In [23]:
bathrooms['bath_count'] = bathrooms['bath_count'].replace('Shared half-bath','0.5 shared bath')
bathrooms['bath_count'] = bathrooms['bath_count'].replace('Half-bath','0.5 bath')

In [24]:
#extract private/shared baths
for idx,val in enumerate(bathrooms.bath_count):
    if 'shared' in val:
        bathrooms.iloc[idx,1]=1
    else:
        bathrooms.iloc[idx,1]=0

In [25]:
#Extract number of bathrooms
bathrooms.bath_count = bathrooms.bath_count.str.replace('baths','')
bathrooms.bath_count = bathrooms.bath_count.str.replace('bath','')
bathrooms.bath_count = bathrooms.bath_count.str.replace('shared','')
bathrooms.bath_count = bathrooms.bath_count.str.replace('private','')
bathrooms.bath_count = bathrooms.bath_count.str.replace(" ", "")
bathrooms.bath_count = bathrooms.bath_count.astype('float')
bathrooms.sample(5)

      bath_count  bath_shared
8702         1.0          0.0
2529         2.5          0.0
3559         1.0          0.0
6414         1.0          0.0
4512         1.0          0.0

In [26]:
bathrooms.bath_count.unique()

array([ 1. ,  2. ,  2.5,  1.5,  3. ,  4. ,  3.5,  0.5,  5.5,  4.5,  5. ,
        8. ,  0. ,  6.5,  6. ,  7. ,  9. , 27.5,  7.5, 10. , 11. ])

In [27]:
data.drop(columns=['bathrooms_text'],inplace=True)

### Amenities

In [28]:
#remembering from data wrangling notebook, convert amenities from string to list
import ast
amenities = []
for i in data.amenities.index:
    amenities.insert(i, ast.literal_eval(data.amenities[i]))
data.amenities = amenities

In [29]:
#refer to EDA for reasoning for selected amenities
#create a list of all amenities options
amen_cols=[]
for elem in amenities:
    amen_cols.extend(elem)

In [30]:
#count different amenities
from collections import Counter
d = Counter(amen_cols)
amen_count = pd.DataFrame.from_dict(d, orient='index')

In [31]:
manual_amen = ['Essentials','Wifi','TV','Heating','Air conditioning','Iron',
                 'Shampoo','Hair dryer','Breakfast','Dedicated workspace',
                 'Indoor fireplace','Hangers','Clothing storage: closet',
                 'Clothing storage: closet and dresser','Clothing storage: dresser and closet',
                 'Private entrance','Smoke alarm','Carbon monoxide alarm','First aid kit',
                 'Fire extinguisher','Lock on bedroom door','Hot tub','Kitchen','Pool','Gym',
                 'Washer','Dryer','Free parking on premises','Free street parking','Long term stays allowed']

In [32]:
#selected amenities is a combination of most frequently occured amenities and selected amenities
amen_count = amen_count.reset_index()
amen_count = amen_count[amen_count[0]>1000]
amen_set = set(list(amen_count['index']) + manual_amen)
len(amen_set)

55

In [33]:
#create empty amenities dataframe with amenties as colum name and same index as listings
amenities = pd.DataFrame(index=data.index,columns = amen_set)
amenities.shape
amenities = amenities.fillna(0)

In [34]:
#fill amenities dataframe with 1 for each ameniy that is available
for idx, val in enumerate(data.amenities):
    for elem in val:
        if elem in amen_set:
            amenities.loc[idx,elem] = 1

In [35]:
amenities.shape

(9268, 55)

In [36]:
#checking the amenities dataframe
amenities.sample(10)

,Wifi,Dishwasher,Keypad,Dedicated workspace,Cable TV,Microwave,Heating,Essentials,Shampoo,Fire extinguisher,...,Lockbox,Breakfast,Free parking on premises,Kitchen,Private entrance,BBQ grill,Clothing storage: closet,Pack ’n Play/travel crib,Bathtub,Hair dryer
1525,1,0,0,0,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1
4075,1,1,0,0,0,1,1,0,0,1,...,0,0,1,1,1,1,0,0,0,0
4113,1,1,0,1,1,1,1,1,1,1,...,0,1,1,1,1,1,0,0,1,1
6993,1,0,1,1,0,0,1,1,1,1,...,0,1,1,1,1,0,0,0,0,1
6412,1,1,0,1,0,1,1,1,1,0,...,0,0,1,1,1,0,0,0,0,0
2671,1,1,1,1,0,1,1,1,1,1,...,0,0,1,1,1,1,0,1,1,1
5887,1,0,0,1,0,0,1,1,0,1,...,0,0,1,1,0,0,0,0,0,0
6635,1,0,0,0,0,0,1,1,1,0,...,0,0,1,1,1,0,0,0,0,1
5263,1,1,0,1,1,1,1,1,1,1,...,1,0,1,1,1,1,0,0,1,1
751,1,0,1,0,1,0,1,0,0,0,...,0,0,1,1,0,0,0,0,0,0

In [37]:
data.drop(columns=['amenities'],inplace=True)

### Room_type

In [38]:
data.room_type.unique()

array(['Entire home/apt', 'Private room', 'Hotel room', 'Shared room'],
      dtype=object)

In [39]:
room = pd.get_dummies(data.room_type,drop_first=True)
room.head()

   Hotel room  Private room  Shared room
0           0             0            0
1           0             0            0
2           0             1            0
3           0             0            0
4           0             0            0

In [40]:
data.drop(columns=['room_type'],inplace=True)

### Property_type

In [41]:
data.property_type.unique()

array(['condominium', 'bungalow', 'house', 'guesthouse', 'guest suite',
       'apartment', 'bed and breakfast', 'townhouse', 'cottage',
       'treehouse', 'boat', 'loft', 'villa', 'hostel', 'tiny house',
       'cabin', 'serviced apartment', 'hotel', 'camper/RV', 'barn',
       'aparthotel', 'tent', 'boutique hotel', 'cave', 'earth house',
       'resort', 'tipi', 'castle', 'farm stay', 'campsite'], dtype=object)

In [42]:
property_type = pd.get_dummies(data.property_type)
property_type.head()

,aparthotel,apartment,barn,bed and breakfast,boat,boutique hotel,bungalow,cabin,camper/RV,campsite,...,house,loft,resort,serviced apartment,tent,tiny house,tipi,townhouse,treehouse,villa
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
data.drop(columns=['property_type'],inplace=True)

### Neighbourhood

In [44]:
data.neighbourhood.unique()

array(['Mission Bay', 'Pacific Beach', 'Roseville', 'La Jolla',
       'College Area', 'North Hills', 'Midtown', 'Rancho Penasquitos',
       'Bay Park', 'West University Heights', 'East Lake', 'Bird Land',
       'Mira Mesa', 'Carmel Valley', 'Talmadge', 'Moreno Mission',
       'Loma Portal', 'University City', 'Torrey Pines', 'Linda Vista',
       'East Village', 'Old Town', 'Grant Hill', 'Scripps Ranch',
       'Ocean Beach', 'South Park', 'Clairemont Mesa', 'Park West',
       'Normal Heights', 'Midtown District', 'Core', 'Kearny Mesa',
       'Marina', 'Balboa Park', 'Wooded Area', 'Grantville',
       'Cortez Hill', 'Serra Mesa', 'Gaslamp Quarter',
       'Tijuana River Valley', 'Otay Ranch', 'Webster',
       'North Clairemont', 'City Heights West', 'Sorrento Valley',
       'Kensington', 'San Carlos', 'Sabre Springs', 'Columbia',
       'Little Italy', 'Bay Ho', 'El Cerritos', 'Rancho Bernadino',
       'Allied Gardens', 'Memorial', 'La Jolla Village', 'Lake Murray',
       'Del Mar Heights', 'Bario Logan', 'Palm City', 'San Ysidro',
       'Mission Valley', 'Northwest', 'Mountain View', 'Jomacha-Lomita',
       'Darnall', 'Rolando', 'Rancho Del Rey', 'Mount Hope',
       'Rolling Hills Ranch', 'Encanto', 'Paradise Hills', 'Tierrasanta',
       'Lynwood Hills', 'Eastlake Vistas', 'Southwest', 'Gateway',
       'Amphitheater And Water Park', 'City Heights East', 'Del Cerro',
       'Bay Terrace', 'Southcrest', 'Paseo Ranchoero', 'Yosemite Dr',
       'Oak Park', 'Nestor', 'Sunbow', 'Estlake Greens',
       'Carmel Mountain', 'Terra Nova', 'North City', 'Eastlake Woods',
       'Sky Line', 'Bonita Long Canyon', 'Valencia Park', 'Lincoln Park',
       'Chollas View', 'Alta Vista', 'Egger Highlands', 'Horton Plaza',
       'Emerald Hills', 'Eastlake Trails'], dtype=object)

In [45]:
neighbourhood = pd.get_dummies(data.neighbourhood)
neighbourhood.head()

,Allied Gardens,Alta Vista,Amphitheater And Water Park,Balboa Park,Bario Logan,Bay Ho,Bay Park,Bay Terrace,Bird Land,Bonita Long Canyon,...,Terra Nova,Tierrasanta,Tijuana River Valley,Torrey Pines,University City,Valencia Park,Webster,West University Heights,Wooded Area,Yosemite Dr
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
data.drop(columns=['neighbourhood'],inplace=True)

## Bolean features

In [47]:
data.select_dtypes(include='bool').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9268 entries, 0 to 9267
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   description             9268 non-null   bool
 1   neighborhood_overview   9268 non-null   bool
 2   host_about              9268 non-null   bool
 3   host_is_superhost       9268 non-null   bool
 4   host_has_profile_pic    9268 non-null   bool
 5   host_identity_verified  9268 non-null   bool
 6   instant_bookable        9268 non-null   bool
 7   host_in_SD              9268 non-null   bool
dtypes: bool(8)
memory usage: 72.5 KB

In [48]:
#Convert boolean to numeric
cols = ['description', 'neighborhood_overview', 'host_about',
       'host_is_superhost', 'host_has_profile_pic', 'host_identity_verified',
       'instant_bookable', 'host_in_SD']
for col in cols:
    data[col] = data[col].astype(int)

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9268 entries, 0 to 9267
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      9268 non-null   int64
 1   description             9268 non-null   int32
 2   neighborhood_overview   9268 non-null   int32
 3   host_id                 9268 non-null   int64
 4   host_about              9268 non-null   int32
 5   host_response_rate      8141 non-null   float64
 6   host_acceptance_rate    8652 non-null   float64
 7   host_is_superhost       9268 non-null   int32
 8   host_listings_count     9268 non-null   float64
 9   host_has_profile_pic    9268 non-null   int32
 10  host_identity_verified  9268 non-null   int32
 11  latitude                9268 non-null   float64
 12  longitude               9268 non-null   float64
 13  accommodates            9268 non-null   int64
 14  bedrooms                9268 non-null   float64
 15  beds                    9268 non-null   float64
 16  price                   9268 non-null   float64
 17  minimum_nights          9268 non-null   int64
 18  maximum_nights          9268 non-null   int64
 19  review_scores_rating    9268 non-null   float64
 20  instant_bookable        9268 non-null   int32
 21  reviews_per_month       9268 non-null   float64
 22  host_in_SD              9268 non-null   int32
dtypes: float64(10), int32(8), int64(5)
memory usage: 1.3 MB

## Numerical features

In [50]:
data.select_dtypes(exclude='object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9268 entries, 0 to 9267
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      9268 non-null   int64
 1   description             9268 non-null   int32
 2   neighborhood_overview   9268 non-null   int32
 3   host_id                 9268 non-null   int64
 4   host_about              9268 non-null   int32
 5   host_response_rate      8141 non-null   float64
 6   host_acceptance_rate    8652 non-null   float64
 7   host_is_superhost       9268 non-null   int32
 8   host_listings_count     9268 non-null   float64
 9   host_has_profile_pic    9268 non-null   int32
 10  host_identity_verified  9268 non-null   int32
 11  latitude                9268 non-null   float64
 12  longitude               9268 non-null   float64
 13  accommodates            9268 non-null   int64
 14  bedrooms                9268 non-null   float64
 15  beds                    9268 non-null   float64
 16  price                   9268 non-null   float64
 17  minimum_nights          9268 non-null   int64
 18  maximum_nights          9268 non-null   int64
 19  review_scores_rating    9268 non-null   float64
 20  instant_bookable        9268 non-null   int32
 21  reviews_per_month       9268 non-null   float64
 22  host_in_SD              9268 non-null   int32
dtypes: float64(10), int32(8), int64(5)
memory usage: 1.3 MB

In [51]:
#drop host_id and id because they are unlikely to have an impact on pricing
data.drop(columns=['host_id','id'],inplace=True)

In [52]:
#Count the number of missing values in each column as well as the percentages
missing = pd.concat([data.isnull().sum(), 100 * data.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing = missing[missing['%']!=0]
missing.sort_values(by='%', ascending =False)

                      count          %
host_response_rate     1127  12.160121
host_acceptance_rate    616   6.646526

In [53]:
# fill missing data with 0
data.fillna(value={'host_response_rate':0,'host_acceptance_rate':0},inplace=True)

In [54]:
#Count the number of missing values in each column as well as the percentages
missing = pd.concat([data.isnull().sum(), 100 * data.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing = missing[missing['%']!=0]
missing.sort_values(by='%', ascending =False)

Empty DataFrame
Columns: [count, %]
Index: []

In [55]:
data.columns

Index(['description', 'neighborhood_overview', 'host_about',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_listings_count', 'host_has_profile_pic', 'host_identity_verified',
       'latitude', 'longitude', 'accommodates', 'bedrooms', 'beds', 'price',
       'minimum_nights', 'maximum_nights', 'review_scores_rating',
       'instant_bookable', 'reviews_per_month', 'host_in_SD'],
      dtype='object')

### Prepare DataFrame

In [56]:
df = copy.deepcopy(data)

In [57]:
df = pd.concat([df,host_response_time, bathrooms, amenities,
               room, property_type,neighbourhood],axis=1)

In [58]:
df.shape

(9268, 217)

## Train/test split

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [60]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns='price'), 
                                                    df.price, test_size=0.3, 
                                                    random_state=123)

In [61]:
X_train.shape, X_test.shape

((6487, 216), (2781, 216))

In [62]:
X_train.dtypes

description                  int32
neighborhood_overview        int32
host_about                   int32
host_response_rate         float64
host_acceptance_rate       float64
                            ...
Valencia Park                uint8
Webster                      uint8
West University Heights      uint8
Wooded Area                  uint8
Yosemite Dr                  uint8
Length: 216, dtype: object

In [63]:
X_test.dtypes

description                  int32
neighborhood_overview        int32
host_about                   int32
host_response_rate         float64
host_acceptance_rate       float64
                            ...
Valencia Park                uint8
Webster                      uint8
West University Heights      uint8
Wooded Area                  uint8
Yosemite Dr                  uint8
Length: 216, dtype: object

## Scale the data

In [67]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_train_scaled = scaler.transform(X_test)

In [68]:
#save file
df.to_csv('../listings_ready.csv', index=False)